<div class="row">
    <div class="col-md-12 text-center text-primary">
        <h3>{{heading}}</h3>
    </div>
    <div class="col-md-12 text-center">
        <label [innerText]="statusMessage" [class]="statusMessageClass" [hidden]="showStatusMessage"></label>
    </div>
</div>

<div [hidden]="hideForgotPasswordFrom" class="form form-horizontal">
    <div class="form-group">
        <div class="col-md-3">
            <label>User handle</label>
        </div>
        <div class="col-md-5">
            <input type="text" [(ngModel)]="userHandle" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valHandle" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="form-control btn btn-success" (click)="sendForgotPasswordRequest()">Make request</button>
        </div>
    </div>
</div>

<div [hidden]="hideResetPasswordForm" class="form form-horizontal">
    <div class="form-group">
        <div class="col-md-3">
            <label>User handle</label>
        </div>
        <div class="col-md-5">
            <label [innerText]="userHandle"><b></b></label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Verification Code*</label>
        </div>
        <div class="col-md-5">
            <input type="tel" maxlength="6" [(ngModel)]="userVerificationCode" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valVerificationCode" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Password*</label>
        </div>
        <div class="col-md-5">
            <input type="password" [(ngModel)]="userPassword" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valPassword" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Confirm password*</label>
        </div>
        <div class="col-md-5">
            <input type="password" [(ngModel)]="userConfirmPassword" class="form-control" />
        </div>
        <div class="col-md-4">
            <label [hidden]="!valConfirmPassword" class="text-danger">Passwords do not match</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" (click)="sendResetPasswordRequest()" class="form-control">Reset password</button>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <label>* denotes all the required fields</label>
    </div>
</div>