<div class="row">
    <div class="col-md-12 text-center text-primary">
        <h3>Verify your account</h3>
    </div>
</div>

<div class="form form-horizontal">
    <div class="form-group text-center ">
        <label [hidden]="!showVerificationMessage" [class]="colorClassForVerificationMessage">{{verificationMessage}}</label>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Handle*</label>
        </div>
        <div class="col-md-6">
            <input type="text" [(ngModel)]="handle" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valHandle" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Password*</label>
        </div>
        <div class="col-md-6">
            <input type="password" [(ngModel)]="password" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valPasssword" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <label>Verification Code*</label>
        </div>
        <div class="col-md-6">
            <input type="tel" maxlength="6" [(ngModel)]="verificationCode" class="form-control" />
        </div>
        <div class="col-md-3">
            <label [hidden]="!valVerificationCode" class="text-danger">Invalid</label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-3">
            <input type="submit" class="btn btn-success" (click)="sendVerificationRequest()" value="Submit" />
        </div>
        <div class="col-md-3">
            <input type="button" class="btn btn-primary" (click)="navigateToLogin()" value="Back to login" />
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <label>* denotes all the required fields</label>
    </div>
</div>
